.toast {
  position: fixed;
  top: 85%;
  //   right: 49%;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 4s ease;
  z-index: 1000;

  &.success {
    background: linear-gradient(45deg, #00b44b, #379000);
  }

  &.error {
    background: linear-gradient(45deg, #d50000, #ff1744);
  }

  &.info {
    background: linear-gradient(45deg, #2962ff, #448aff);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
