<p *ngIf="message">{{ message }}</p>
<p *ngIf="error">{{ error }}</p>
<div class="resetPawword-container">
  <div class="form-container">
    <div class="logo-container">Reset Password</div>

    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>

      <button class="form-submit-btn" type="submit">Reset Password</button>
    </form>
  </div>
  <div class="toast" *ngIf="toastVisible" [ngClass]="[type]">
    <div class="toast-content">
      {{ message }}
    </div>
  </div>
</div>
