.weather-container {
  background: rgba(22, 18, 18, 0.15);
  color: white;

  padding: 20px;
  border-radius: 1rem;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 910px;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.weather-container h2 {
  margin-bottom: 5px;
}

.description {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.search {
  margin-top: 15px;
}

input {
  padding: 6px;
  border: none;
  border-radius: 8px;
  outline: none;
}

button {
  margin-left: 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  background: #ffffff55;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffffff88;
}
@media (min-width: 980px) and (max-width: 1025px) {
  //DASHBOARD
  .weather-container {
    width: 800px;
    margin-left: 2rem;
  }
}
@media (min-width: 851px) and (max-width: 980px) {
  //DASHBOARD
  .weather-container {
    width: 760px;
  }
}
@media (min-width: 801px) and (max-width: 851px) {
  //DASHBOARD
  .weather-container {
    width: 720px;
  }
}
@media (min-width: 750px) and (max-width: 801px) {
  .weather-container {
    width: 685px;
  }
}
@media (min-width: 720px) and (max-width: 750px) {
  //DASHBOARD
  .weather-container {
    width: 625px;
  }
}
@media (min-width: 650px) and (max-width: 720px) {
  //DASHBOARD
  .weather-container {
    width: 605px;
  }
}
@media (min-width: 550px) and (max-width: 650px) {
  //DASHBOARD
  .weather-container {
    width: 505px;
  }
}
@media (min-width: 505px) and (max-width: 550px) {
  //DASHBOARD
  .weather-container {
    width: 459px;
  }
}
@media (min-width: 451px) and (max-width: 505px) {
  //DASHBOARD
  .weather-container {
    width: 405px;
  }
}
@media (min-width: 413px) and (max-width: 451px) {
  //DASHBOARD
  .weather-container {
    width: 367px;
  }
}
@media (min-width: 376px) and (max-width: 413px) {
  //DASHBOARD
  .weather-container {
    width: 330px;
  }
}
@media (max-width: 376px) {
  .weather-container {
    width: 320px;
  }
}
