body {
  margin: 0;
  height: 100vh;
  display: flex;

  justify-content: center;
  background: linear-gradient(135deg, #fbfbfc 0%, #ececec 50%, #c3c3c3 100%);
  color: #fff;
  font-family: "Poppins", sans-serif;
}
