.tasks-container {
  max-width: 400px;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  color: #fff;
  margin-top: 100px;
}

.add-task {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2rem;
}

.add-task input {
  flex: 1 1 45%;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
}
.add-task button {
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.num-tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 13px;
  border-top: 1px solid black;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.num-tasks .content-task {
  grid-column: 2/4;
}

.num-tasks .rubish {
  display: flex;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button.delete {
  border: none;
  background: transparent;
  cursor: pointer;
}
