<app-header></app-header>
<div class="tasks-container">
  <h2>My tasks</h2>

  <div class="add-task">
    <input type="text" [(ngModel)]="task.title" placeholder="Type a new task" />
    <button (click)="addTask()">Save</button>
  </div>
  <h2>Task list</h2>

  @for (task of tasks; track $index){
  <div class="num-tasks">
    <div class="checkbox">
      <input
        type="checkbox"
        [checked]="task.completed"
        (change)="toggleTask(task)"
      />
    </div>
    <div class="content-task">
      <span [class.completed]="task.completed">{{ task.title }}</span>
    </div>
    <div class="rubish">
      <button class="delete" (click)="deleteTask(task)">🗑️</button>
    </div>
  </div>
  }
</div>
<div class="toast" *ngIf="toastVisible" [ngClass]="[type]">
  <div class="toast-content">
    {{ message }}
  </div>
</div>
