<app-header></app-header>
<div class="meetings-container">
  <h2>My meetings</h2>

  <form (ngSubmit)="addMeeting()">
    <input
      [(ngModel)]="meeting.description"
      name="description"
      placeholder="Short description"
      required
    />
    <input
      [(ngModel)]="meeting.platform"
      name="platform"
      placeholder="Plataform (Zoom, Meet...)"
      required
    />
    <input [(ngModel)]="meeting.date" type="date" name="date" required />
    <input [(ngModel)]="meeting.time" type="time" name="time" required />
    <button type="submit">Save meeting</button>
  </form>

  <div class="meetings-list">
    <div *ngFor="let m of meetings" class="meeting-card">
      <div class="time">
        <p>{{ m.date | date }}</p>
        <p>
          <strong>{{ m.time }}</strong>
        </p>
      </div>
      <div class="descripcion">
        <p>
          {{ m.description }}
        </p>
        <p class="platform">{{ m.platform }}</p>
      </div>
    </div>
  </div>
</div>
<div class="toast" *ngIf="toastVisible" [ngClass]="[type]">
  <div class="toast-content">
    {{ message }}
  </div>
</div>
