<p *ngIf="message" class="success">{{ message }}</p>
<p *ngIf="error" class="error">{{ error }}</p>
<div class="forgot-container">
  <!-- From Uiverse.io by gharsh11032000 -->
  <div class="form-container">
    <div class="logo-container">Forgot Password</div>

    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <button class="form-submit-btn" type="submit">Send Email</button>
    </form>

    <p class="signup-link">
      Don't have an account?
      <a href="/register" class="signup-link link"> Sign up</a>
    </p>
  </div>
</div>
