<!-- <div class="dashboard-container" *ngIf="user">
  <h2>{{ message }}</h2>

  <div class="user-info">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>ID de usuario:</strong> {{ user._id }}</p>
  </div>
</div> -->
<app-header></app-header>
<div class="dashboard">
  <div class="container">
    <div class="left">
      <div class="introduccion">
        <h2>Welcome : {{ user.name }} {{ user.lastName }}</h2>
        <p>Your personal dashboard overview</p>
      </div>
      <div class="container-grid">
        <div class="col1">
          <div class="card card1">
            <div class="profile">
              <p>Profile</p>
              <span style="color: green; font-size: 40px">●</span>
            </div>
            <div class="imagen-space">
              <div class="imagen-profile">
                <img src="emojiMujer.jpg" alt="Logo" />
              </div>
            </div>
            <div class="nombre-profile">
              <p
                style="
                  font-size: 2rem;
                  font-size: 2rem;
                  margin-top: 0;
                  padding: 0;
                  margin-bottom: 21px;
                "
              >
                {{ user.name }} {{ user.lastName }}
              </p>
              <p class="p2">Profession</p>
            </div>
          </div>
        </div>
        <div class="col2">
          <div class="card card2">
            <div class="profile">
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 1rem;
                "
              >
                <p>Prioritazed tasks</p>
                <a
                  routerLink="/create-task"
                  style="text-decoration: none !important"
                  >↗️</a
                >
              </div>
              <p class="term-icon">⏱</p>
            </div>
            @for (task of tasks; track $index){
            <div class="num-tasks">
              <div class="checkbox">
                <input
                  type="checkbox"
                  [checked]="task.completed"
                  (change)="toggleTask(task)"
                />
              </div>
              <div class="content-task">
                <span [class.completed]="task.completed">{{ task.title }}</span>
              </div>
              <div class="rubish">
                <button class="delete" (click)="deleteTask(task)">🗑️</button>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="">
        <app-weather></app-weather>
      </div>
    </div>
    <div class="right">
      <div class="header-right">
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
          "
        >
          <h2>My meetings</h2>
          <a routerLink="/meeting" style="text-decoration: none !important"
            >↗️</a
          >
        </div>

        <p>📅</p>
      </div>
      <div class="lista-scroll">
        <div class="meetings-list">
          <div *ngFor="let m of meetings" class="meeting-card">
            <div class="time">
              <p>{{ m.date | date }}</p>
              <p>
                <strong>{{ m.time }}</strong>
              </p>
            </div>
            <div class="descripcion">
              <p>
                {{ m.description }}
              </p>
              <p class="platform">{{ m.platform }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <p>Cargando información del usuario...</p>
</div>
