/* From Uiverse.io by absoluteSTrange */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* izquierda m치s ancha */
  // background: rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  height: 100%;
  margin-top: 65px;
  width: 90%;
  padding: 2rem;
  border-radius: 12px;
}

.left {
  color: black;
  display: flex;
  flex-direction: column;
}

.left .introduccion p {
  margin-top: -1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: white;
}
.left .introduccion h2 {
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
}
///////////
.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* primera m치s ancha */

  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: start;

  margin-bottom: 0;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

///////////////
/* From Uiverse.io by absoluteSTrange */
.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  height: 320px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* Colores solo para distinguir */

.card1 {
  background: #f8f9fa;

  color: black;

  width: 450px;
}
.card1 .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  max-height: 50px;
}
.card1 .imagen-profile {
  position: relative;
  display: inline-block;
  width: 120px; /* tama침o del avatar */
  height: 120px;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 5px;
}
.card1 .imagen-space {
  display: flex;

  justify-content: center;
  align-items: center;
}
.card1 .imagen-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ajusta la imagen sin deformarla */
  border-radius: 50%; /* la hace circular */
  border: 4px solid #fff; /* borde blanco alrededor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra ligera */
}
.card1 .nombre-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}
.card1 .nombre-profile .p2 {
  height: 20px;

  margin-top: -0.5rem;
  padding: 7px;
  border-radius: 50%;

  font-size: 0.75rem;
  line-height: 1rem;
  color: black;
}
.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.card2 {
  // background: linear-gradient(45deg, #c0c0f0 0%, #ececec 50%, #f9b164 100%);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 1rem;
  border: 0.3px solid #ddd;
  width: 450px;

  margin-bottom: 20px;
}
.card2 .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  height: 45px;
}
.card2 .profile p {
  margin-right: 0;
  margin-left: 15px;
}
.card2 .profile .term-icon {
  // background: rgba(12, 8, 8, 0.1);
  border: none;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 0;
  width: 22px;
}
.card2 .num-tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 13px;
  border-top: 1px solid rgb(198, 190, 190);
  font-size: 0.8rem;
  margin-bottom: 0;
}
.card2 .num-tasks .content-task {
  grid-column: 2/4;
}

.card2 .num-tasks .rubish {
  display: flex;
  justify-content: center;
}
.card3 {
  background: #fdecea;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

button.delete {
  border: none;
  background: transparent;
  cursor: pointer;
}
////////////////////
///
.right .header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.15);
  width: 430px; /* ancho del contenedor */
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 1rem;
  border-right: 1px solid #ddd;
  align-items: center;
}
.right .header-right h2 {
  color: white;
}

.lista-scroll {
  width: 430px; /* ancho del contenedor */
  height: 432px; /* alto fijo */
  overflow-y: auto; /* activa scroll vertical */

  margin-left: 10px;
  margin-top: 26px;
}

// .lista-scroll ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// .lista-scroll li {
//   padding: 8px;
//   border-bottom: 1px solid #ddd;
// }
.meeting-card {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.15);
  padding: 1rem;
  border-left: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 1rem;
}
.meeting-card .time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
}
.meeting-card .descrpcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meeting-card .descrpcion .platform {
  font-size: 0.75rem;
}

// @media (max-width: 1024px) {
//   .container-grid {
//     grid-template-columns: 1fr 1fr; /* 2 columnas */
//   }
// }
@media (min-width: 980px) and (max-width: 1025px) {
  //DASHBOARD

  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }

  .card {
    width: 375px;
  }
  .card1 {
    margin-right: 4rem;
  }
  .left {
    width: 920px;
  }
  .left .col1 {
    align-items: center;
  }
  .right {
    align-items: center;
    margin-top: 2rem;
  }
  .right .header-right,
  .lista-scroll {
    width: 695px;
  }
}
@media (min-width: 851px) and (max-width: 980px) {
  //DASHBOARD

  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card {
    width: 375px;
  }

  .left {
    width: 830px;
  }
  .left .col1 {
    align-items: center;
  }
  .right {
    align-items: center;
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 695px;
  }
}
@media (min-width: 801px) and (max-width: 851px) {
  //DASHBOARD

  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card {
    width: 375px;
  }

  .left {
    width: 780px;
  }
  .right {
    align-items: center;
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 695px;
  }
}
@media (min-width: 750px) and (max-width: 801px) {
  //DASHBOARD

  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card {
    width: 350px;
  }

  .left {
    width: 735px;
    margin-bottom: 0;
  }
  .right {
    align-items: center;
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 695px;
  }
}
@media (min-width: 720px) and (max-width: 750px) {
  //DASHBOARD

  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2 {
    width: 340px;
  }
  .left {
    width: 680px;
  }

  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 660px;
  }
}
@media (min-width: 650px) and (max-width: 720px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 645px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 625px;
  }
}
@media (min-width: 550px) and (max-width: 650px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 545px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 525px;
  }
}
@media (min-width: 505px) and (max-width: 550px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 499px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 479px;
  }
}
@media (min-width: 451px) and (max-width: 505px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 445px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 425px;
  }
}
@media (min-width: 413px) and (max-width: 451px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 407px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 387px;
  }
}
@media (min-width: 376px) and (max-width: 413px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 370px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 350px;
  }
}
@media (max-width: 376px) {
  //DASHBOARD
  .container-grid {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .container {
    grid-template-columns: 1fr; /* una debajo de otra */
  }
  .card,
  .col2,
  .left {
    width: 360px;
  }
  .right {
    margin-top: 30px;
  }
  .right .header-right,
  .lista-scroll {
    width: 340px;
  }
}

/* La primera tarjeta puede ser m치s alta */
