/* From Uiverse.io by ammarsaa */
.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  position: relative;
  border: 1px solid #333;
  border-radius: 0.75rem;
  background-color: white;
  padding: 2rem;
  color: black;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.message,
.signin {
  font-size: 14.5px;
  color: black;
}

.signin {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.signin a:hover {
  text-decoration: underline black;
}

.signin a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: white;
  color: white;
  width: 85%;

  border-radius: 0.375rem;
  border: 1px solid black;
  outline: 0;

  padding: 0.75rem 0.5rem;
  color: black;
}

.form label .input + span {
  color: black;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: rgba(167, 139, 250, 1);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}
.input2 {
  font-size: medium;
}

.form label .input2 {
  background-color: white;
  color: black;
  width: 93%;

  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;

  padding: 0.75rem 0.5rem;
  color: rgba(243, 244, 246, 1);
}

.form label .input2 + span {
  color: black;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input2:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input2:focus + span,
.form label .input2:valid + span {
  color: rgba(167, 139, 250, 1);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.submit {
  border: none;
  outline: none;

  color: rgba(17, 24, 39, 1);
  font-size: 16px;
  transform: 0.3s ease;
  background-color: rgba(167, 139, 250, 1);

  display: block;
  width: 100%;

  padding: 0.75rem;
  text-align: center;

  border-radius: 0.375rem;
  font-weight: 600;
}

.submit:hover {
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
///////////////////
///
///
.toast {
  position: fixed;
  top: 85%;
  //   right: 49%;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 4s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;

  &.success {
    background: linear-gradient(45deg, #00b44b, #379000);
  }

  &.error {
    background: linear-gradient(45deg, #d50000, #ff1744);
  }

  &.info {
    background: linear-gradient(45deg, #2962ff, #448aff);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
